@media (max-width: 1132px) {
  .footer-box2 {
    width: 100%;
    padding: 50px 0px;
    display: grid;
    display: flex;
    gap: 80px;
  }
  .footer-order3,
  .footer-order2 {
    margin-left: 0;
  }
}
@media (max-width: 1027px) {
.application-adaptive {
  min-height: 0px !important;
}
}
@media (max-width: 992px) {
  .nav-link-box,
  .language-box {
    display: none !important;
  }
  .project-logo-img {
    width: 112px;
    height: 30px;
  }
  .news-box {
    margin-top: 10px;
  }
  .burger-menu {
    display: block;
  }
}
@media (max-width: 903px) {
  .money-btn_block span {
    text-align: start;
  }
  .return-the-money {
    height: 500px;
    justify-content: flex-start;
    gap: 30px;
  }
  .money-btn_block {
    justify-content: start !important;
    align-items: start;
    gap: 20px;
  }
  .money-btn_block button {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .question-content {
    font-size: 18px !important;
  }
  .garants {
    margin: 120px 0 0 0;
  }
  .news-img-block {
    height: 260px;
  }
  .about {
    min-height: 210px !important;
  }
  .founder-block,
  .customer-card-last {
    min-height: 100px;
  }
  .founder-b-text {
    font-size: 14px;
  }
  .founder-span {
    font-size: 12px;
  }
  .founder-img {
    width: 45px;
    height: 45px;
  }
  .title-basic,
  .profesional-text,
  .work-text {
    font-size: 14px;
  }
  .garant {
    grid-template-columns: 1fr !important;
    gap: 20px !important;
  }
  .news-box1 {
    min-height: 350px;
    gap: 10px;
  }
  .price-txt {
    font-size: 18px;
  }
  .price-card,
  .contacts-card {
    padding: 16px !important;
    border-radius: 16px !important;
  }
  .customer-card,
  .guarantee-card {
    padding: 16px !important;
  }
  .big-text,
  .technical-support {
    font-size: 24px;
  }
  .white-backg-contact {
    gap: 40px !important;
  }
  .return-the-money {
    padding: 30px 16px;
    display: block;
    border-radius: 16px;
  }
  .return-the-money h2 {
    font-size: 24px;
    margin-bottom: 30px !important;
  }
}
@media (max-width: 702px) {
  .footer-box2 {
    gap: 25px;
  }
}
@media (max-width: 665px) {
  .input-block {
    grid-template-columns: 1fr;
  }
  .input-box,
  .checkbox-container {
    margin-bottom: 20px;
  }
}
@media (max-width: 579px) {
  .social-network-block {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .wallet-recovery,
  .team-box-conditions-block,
  .we-will-help {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .we-will-help {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .made-width-inter {
    flex-direction: column !important;
    align-items: center !important;
  }
  .wallet-recovery-inner-box h1 {
    font-size: 36px;
  }
  .wallet-recovery-inner-box {
    padding: 16px;
    min-height: 394px;
    border-radius: 16px !important;
    gap: 30px;
  }
  .wallet-recovery-img-box {
    min-height: 394px;
  }
  .wallet-recovery-img-box::before {
    border-radius: 16px;
  }
  button {
    font-size: 14px !important;
  }
  .team-box-conditions-box {
    padding: 16px;
  }
  .answer-description {
    padding-right: 90px;
    font-size: 14px !important;
  }
  .news-box2 {
    gap: 10px !important;
  }
  .news-box {
    gap: 20px;
  }
  .the-link,
  .technical-support {
    font-size: 20px;
  }
  .address-box1 {
    display: grid;
    grid-template-columns: 0.1fr 0.8fr !important;
  }
}
@media (max-width: 500px) {
  .wallet-recovery,
  .team-box-conditions-block,
  .we-will-help {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
  .question-content {
    font-size: 16px !important;
  }
}
@media (max-width: 440px) {
  .wallet-btn-block {
    flex-direction: column !important;
  }
  .wallet-recovery-inner-box h1 {
    font-size: 30px;
  }
  .we-will-help {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 400px) {
  .guarantees {
    flex-direction: column;
  }
  .guarantee-text-box {
    height: 100px !important;
  }
  .guarantee-card {
    gap: 20px;
  }
}
@media (max-width: 380px) {
  .founder-block {
    flex-direction: column;
  }
  .customer-card {
    height: 100px;
  }
}
