.position-relative {
  position: relative;
}
.active-l {
  width: 118px;
  height: 50px;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--navis-, #f5f7fa);
  cursor: pointer;
  margin: 0 15px 0 0;
}
.active-l::before {
  position: absolute;
  content: "";
  width: 118px;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}
.language {
  width: 118px;
  height: 50px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: var(--navis-, #f5f7fa);
  position: relative;
  cursor: pointer;
  margin: 0 15px 0 0;
}
.active-ru-en {
  display: flex;
  gap: 6px;
}
.active-ru-en img {
  width: 32px;
  height: 24px;
}
.active-ru-en p {
  font-size: 16px;
  font-weight: 500;
  color: var(--black, #171616);
  @media screen and (max-width: 600px) {
    font-weight: 400;
  }
}
.down {
  transform: rotate(-180deg);
  transition: 2s;
}
.active-block {
  position: absolute;
  top: 50px;
  left: 0;
  width: 118px;
  height: 50px;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  background: var(--navis-, #f5f7fa);
  z-index: 99;
  animation: fadeIn 0.5s forwards;
  cursor: pointer;
}
.active-none {
  display: none;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.partners {
  margin: 130px 0 0 0;
}
.partners img {
  display: block;
  height: 70px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  width: auto;
  padding: 5px;
}
.partners .slick-dots {
  display: none !important;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1111;
}
.menu_not {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background: rgba(124, 122, 122, 0.2);
  backdrop-filter: blur(10px);
  animation: focus 0.4s ease;
}
@keyframes focus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background: #ffffff;
  padding: 20px 20px;
  z-index: 999;
  animation: menuModal 0.5s ease;
}
@keyframes menuModal {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}
