.header {
  height: 80px;
  border-bottom: 1px solid #d8d8d8;
}
.nav-link-box {
  gap: 40px;
}
.language-block {
  gap: 10px;
}
.language-box {
  width: 118px;
  height: 50px;
  border-radius: 8px;
  background: #f5f7fa;
}
.wallet-recovery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px;
  margin: 40px 0 0 0;
}
.wallet-recovery-inner-box {
  background: #f5f7fa;
  padding: 34px 50px 34px 34px;
  border-radius: 30px;
  height: 535px;
}
.wallet-recovery-img-box {
  position: relative;
  overflow: hidden;
  height: 535px;
}
.return-the-money {
  height: 285px !important;
  padding: 51px 51px 38px 51px;
  background-image: url("../img/formBackground.svg") !important;
  border-radius: 20px;
}
.return-the-money h2 {
  max-width: 450px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--white);
}
.wallet-recovery-img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/banner.svg");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.team-box-conditions-block,
.we-will-help {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 10px;
  margin: 40px 0 0 0;
}
.team-box-conditions-box {
  background: #f5f7fa;
  border-radius: 20px;
  padding: 30px;
  height: 400px;
}
.team-contitions-img1,
.team-contitions-img2,
.team-contitions-img3 {
  position: relative;
  width: 262px;
  height: 100px;
}
.team-contitions-img1::before,
.team-contitions-img2::before,
.team-contitions-img3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/number1.svg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.team-contitions-img2::before {
  background-image: url("../img/number2.svg") !important;
}
.team-contitions-img3::before {
  background-image: url("../img/number3.svg") !important;
}
.we-will-help {
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr)) !important;
}
.we-will-help-box {
  height: 275px;
  padding: 30px;
  border-radius: 20px;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.will-icons-backg {
  background: var(--background-icons);
}
.we-will-help-box:first-child {
  background: var(--red);
}

.we-will-help-box-first div {
  background: var(--white) !important;
}
.interior-box-icons1,
.interior-box-icons2,
.interior-box-icons3,
.interior-box-icons4,
.application-icons-box1,
.application-icons-box2,
.application-icons-box3 {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.interior-box-icons1::before,
.interior-box-icons2::before,
.interior-box-icons3::before,
.interior-box-icons4::before,
.application-icons-box1::before,
.application-icons-box2::before,
.application-icons-box3::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/key.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.application-icons-box1::before {
  background-image: url("../img/wallet.svg") !important;
}
.application-icons-box2::before {
  background-image: url("../img/shield.svg");
}
.application-icons-box3 .interior-box-icons2::before {
  background-image: url("../img/commentt.svg") !important;
}
.interior-box-icons3::before {
  background-image: url("../img/close.svg") !important;
}
.interior-box-icons4::before {
  background-image: url("../img//shield.svg") !important;
}
.money-btn_block span {
  max-width: 246px;
  color: #f5f7fa;
  text-align: end;
}
.money-btn_block button {
  border: none;
  margin-left: auto;
}
.news {
  gap: 20px !important;
}
.news-box {
  min-height: 510px;
  gap: 20px;
}
.news-inter-box {
  display: grid;
  gap: 20px;
}
.news-img-block {
  width: 100%;
  height: 407px;
  border-radius: 14px;
  overflow-y: hidden;
  object-fit: cover;
  object-position: center;
}
.news-icons {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--background-icons);
  cursor: pointer;
}
.news-icons::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.title-inter-block,
.news-box2 {
  gap: 20px;
}
.gap-page {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
}
.gap-page {
  gap: 50px;
}
.news-box2 {
  align-items: flex-end;
  display: grid;
  grid-template-columns: 1.8fr 0.2fr !important;
}
.news-block2 {
  gap: 30px !important;
  display: grid;
}
.news-box2-img {
  width: 105px !important;
  height: 105px !important;
  border-radius: 10px;
  overflow: hidden;
}
.news-box2-img img {
  object-fit: cover;
  object-position: center;
  width: 100% !important;
  height: 100% !important;
}
.news-text-box {
  margin-left: 20px;
}
.news-icons-block-inter {
  display: flex;
  justify-content: flex-end;
}
.footer {
  width: 100%;
  min-height: 360px;
  padding-top: 46px;
}
.footer-box2 {
  padding-top: 15px;
  display: flex;
}
.footer-icons {
  position: relative;
  width: 133px;
  height: 55px;
  margin-bottom: 14px;
}
.footer-icons::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/navesAssetLogo.svg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.link-footer-block {
  margin-top: 30px !important;
  gap: 16px;
}

.social-network-box1,
.social-network-box2,
.social-network-box3,
.social-network-box4,
.contact-social-box1,
.contact-social-box2,
.contact-social-box3,
.contact-social-box4 {
  width: 40px;
  height: 40px;
  position: relative;
  background: var(--red);
  border-radius: 10px;
  cursor: pointer;
}
.social-network-box1::before,
.social-network-box2::before,
.social-network-box3::before,
.social-network-box4::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.contact-social-block {
  margin: 20px 0 0 0;
  gap: 14px;
}
.contact-social-box1,
.contact-social-box2,
.contact-social-box3,
.contact-social-box4 {
  background: var(--white) !important;
}
.contact-social-box1::before {
  background-image: url("../img/whatsapRed.svg") !important;
}
.contact-social-box2::before {
  background-image: url("../img/telegramRed.svg") !important;
}
.contact-social-box3::before {
  background-image: url("../img/ins.svg") !important;
}
.contact-social-box4::before {
  background-image: url("../img/tiktokRed.svg") !important;
}
.social-network-box1::before {
  background-image: url("../img/whatsapp.svg");
}
.social-network-box2::before {
  background-image: url("../img/telegram.svg");
}
.social-network-box3::before {
  background-image: url("../img/instagram.svg");
}
.social-network-box4::before {
  background-image: url("../img/tiktok.svg");
}
.social-network-block {
  gap: 14px;
  margin-top: 30px;
}
.footer-order2 {
  margin-left: 82px;
}
.footer-order3 {
  margin-left: 109px;
}
.made-with {
  height: 50px;
  border-top: 1px solid #d8d8d8;
}
.address-box {
  gap: 16px;
}
.contacts-card,
.application-card {
  min-height: 665px;
  gap: 0px !important;
}
.application-card:first-child {
  background: transparent !important;
}
.contacts-card:first-child {
  background: var(--red);
}
.contact,
.application {
  margin-bottom: 100px;
}
.contact-inter-box {
  gap: 60px;
}
.address-call-block {
  gap: 30px;
}
.application-box {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  gap: 20px;
  padding: 30px 0 30px 0;
}
.aplication-text-box {
  gap: 20px;
}
.griting {
  width: 800px !important;
}
