.header {
  height: 80px;
  border-bottom: 1px solid #d8d8d8;
}
.nav-link-box {
  gap: 40px;
}
.language-block {
  gap: 10px;
}
.language-box {
  width: 118px;
  height: 50px;
  border-radius: 8px;
  background: #f5f7fa;
}
.wallet-recovery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px;
  margin: 40px 0 0 0;
}
.wallet-recovery-inner-box {
  background: #f5f7fa;
  padding: 34px 50px 34px 34px;
  border-radius: 30px;
  height: 535px;
}
.wallet-recovery-img-box {
  position: relative;
  overflow: hidden;
  height: 535px;
}
.return-the-money {
  height: 285px !important;
  padding: 51px 51px 38px 51px;
  background-image: url("../img/formBackground.svg") !important;
  border-radius: 20px;
}
.return-the-money h2 {
  max-width: 450px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--white);
}
.wallet-recovery-img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/banner.svg");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.team-box-conditions-block,
.we-will-help {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 10px;
  margin: 40px 0 0 0;
}
.team-box-conditions-box {
  background: #f5f7fa;
  border-radius: 20px;
  padding: 30px;
  height: 400px;
}
.team-contitions-img1,
.team-contitions-img2,
.team-contitions-img3 {
  position: relative;
  width: 262px;
  height: 100px;
}
.team-contitions-img1::before,
.team-contitions-img2::before,
.team-contitions-img3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/number1.svg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.team-contitions-img2::before {
  background-image: url("../img/number2.svg") !important;
}
.team-contitions-img3::before {
  background-image: url("../img/number3.svg") !important;
}
.we-will-help {
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr)) !important;
}
.we-will-help-box {
  height: 275px;
  padding: 30px;
  border-radius: 20px;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.we-will-help-box div {
  background: rgb(240, 221, 213) !important;
}
.we-will-help-box:first-child {
  background: var(--red);
}

.we-will-help-box-first div {
  background: var(--white) !important;
}
.interior-box-icons1,
.interior-box-icons2,
.interior-box-icons3,
.interior-box-icons4 {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.interior-box-icons1::before,
.interior-box-icons2::before,
.interior-box-icons3::before,
.interior-box-icons4::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/key.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.interior-box-icons2::before {
  background-image: url("../img/commentt.svg") !important;
}
.interior-box-icons3::before {
  background-image: url("../img/close.svg") !important;
}
.interior-box-icons4::before {
  background-image: url("../img//shield.svg") !important;
}
.money-btn_block span {
  max-width: 246px;
  color: #f5f7fa;
  text-align: end;
}
.money-btn_block button {
  border: none;
  margin-left: auto;
}
.news-box {
  min-height: 510px;
  background: red;
}
.news-inter-box {
  display: grid;
  gap: 20px;
}
.news-img-block {
  width: 100%;
  height: 407px;
  border-radius: 14px;
  overflow-y: hidden;
  object-fit: cover;
  object-position: center;
}
.news-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: bisque;
}
.title-inter-block {
  gap: 20px;
}
.gap-page {
  gap: 50px;
}
.news-box2 {
  display: flex;
}
.news-boxs2-img img {
  object-fit: cover;
  object-position: center;
  width: 100% !important;
  height: 100% !important;
}
.news-boxs2-img {
  width: 100%;
  width: 105px !important;
  height: 105px !important;
  border-radius: 10px;
  overflow: hidden;
  background: green;

}
.griting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.griting div {
  max-width: 350px;
  background: blue;
}
