@import url("./fonts.css");
@import url("./animation.css");
@import url("./text.css");
@import url("./style.css");
@import url("./index.css");
@import url("./app.css");

.top-page {
  margin: 200px 0;
  @media screen and (max-width: 700px) {
    margin: 100px 0;
  }
}
#faq h2 {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}
.question-container {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1px 0 !important;
}
.question-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(
    59.33deg,
    rgba(212, 21, 28, 0.15) 22.38%,
    rgba(211, 84, 0, 0.15) 87.43%
  );
}
.arrow {
  color: #d4151c;
}
.question-content {
  padding: 30px 0 !important;
  margin: 0 !important;
  text-align: left;
}
.answer-description {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  padding-right: 100px;
  color: #6f6f6f;
}
.answer-container {
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.border {
  width: 100%;
  height: 1px !important;
  background: #d8d8d8 !important;
}
.about-us h1 {
  margin: 40px 0;
}
.guarantees {
  margin-top: 0;
}
.guarantee-card {
  width: 100%;
  border-radius: 12px;
  padding: 20px;
}
.guarantee-card:first-child {
  background: #000000;
  color: #ffffff !important;
}
.guarantee-card:first-child h2 {
  color: #ffffff !important;
  text-align: left;
}
.guarantee-card:last-child {
  background: #f5f7fa;
}
.about {
  display: grid;
  gap: 10px;
}
.about h2 {
  text-align: left;
}
.g-10 {
  gap: 10px;
}
.customer-card {
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  height: 145px;
}
.customer-card:nth-child(2) h2 {
  color: #ffffff;
}
.customer-card:nth-child(1) {
  background: #f5f7fa;
}
.customer-card:nth-child(2) {
  color: #ffffff;
  background: linear-gradient(59.33deg, #d4151c 22.38%, #d35400 87.43%);
}
.customer-card-last {
  background: #f5f7fa !important;
  color: #000000;
}
.customer-card-last h2 {
  color: #000000 !important;
}
.garants {
  margin: 150px 0;
}

.garant{
  grid-template-columns: 2fr 3fr;
  gap: 23px;
}

.subtitle2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1;
}
.subtitle1{
  font-weight: 500;
}
.l{
  text-align: left;
}
.garants p{
  padding: 0;
  background: none;
  height: 200px;
  color: #6F6F6F;
  margin-left: auto;
}
.white{
  color: var(--white);
}
.price-card{
  height: 563px;
  padding: 30px;
  border-radius: 30px;
}
.price-card:first-child{
  display: grid;
  gap: 20px;
}

.price-card:last-child{
  display: grid;
  gap: 32px;
}
.checks{
  grid-gap: 20px;
}