:root {
  --white: #ffffff;
  --red: rgb(211, 65, 8);
  --black: #000000;
  --gray: #6f6f6f;
  --white-gray: #f5f7fa;
  --valuta: #8c8c8c;
  --background-icons: linear-gradient(
    59.33deg,
    rgba(212, 21, 28, 0.15) 22.38%,
    rgba(211, 84, 0, 0.15) 87.43%
  );
}
button {
  padding: 10px 20px !important;
  border-radius: 8px !important;
  height: 50px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
button:hover {
  opacity: 0.7;
}
.language-block button {
  background-color: #000000;
  border: none;
  color: #ffffff;
}

:focus,
:active {
  outline: none;
}
a {
  text-decoration: none !important;
}
a,
a:active,
a:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.submit-application-btn {
  background: var(--red);
  color: var(--white);
  border: none;
}
.btn-white {
  color: var(--black);
  background: var(--white);
  border: none;
}
.more-details-btn {
  gap: 10px;
  align-items: center;
}
h1,
h2,
h3,
h4,
p {
  margin-bottom: 0px !important;
}
.input-block {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}
input,
.input-select {
  height: 50px;
  background: var(--white);
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
}
input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
}
input:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
label {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
}

.checkbox-container input[type="checkbox"] {
  display: none;
}
.checkbox-container {
  position: relative;
  cursor: pointer;
}
.checkbox-container p {
  margin-left: 32px;
  font-size: 12px;
  font-weight: 400;
}
.checkbox-container p > span {
  color: var(--red);
}
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  border: 1px solid var(--gray);
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
}
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.contacts-card button {
  border: none;
  background: var(--red);
  color: var(--white);
}
