.nav-link-page {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  position: relative;
}
.nav-link-page.active::before {
  content: "";
  position: absolute;
  background: var(--red);
  height: 6px;
  left: 0;
  width: 100%;
  bottom: -10px;
  transition: 0.3s;
  border-radius: 8px;
  color: var(--red);
}
.nav-link-page::after {
  content: "";
  position: absolute;
  background: var(--red);
  height: 6px;
  left: 0;
  width: 0;
  bottom: -10px;
  transition: 0.3s;
  border-radius: 8px;
}
.nav-link-page:hover {
  color: #7b7979;
}
.nav-link-page:hover::after {
  width: 100%;
}
.wallet-recovery-inner-box h1 {
  font-size: 50px;
  font-weight: 600;
  color: var(--black);
  line-height: 1.1;
}
.text-span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2 !important;
  color: var(--gray);
}
.title-page {
  font-size: 30px;
  font-weight: 600;
  color: var(--black);
  text-align: center;
}
.title-h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  line-height: 1.1;
}
.we-will-help-box-first h3,
.we-will-help-box-first span {
  color: var(--white);
}
.we-will-help-box h3 {
  line-height: 1.2;
  max-width: 350px;
}

.title-basic {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
}

.subtitle {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}
.subtitle1 {
  font-weight: 500;
}
.news-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: var(--black);
}
.title-internal-footer {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}
.footer-text {
  color: #797979 !important;
}
.link-footer {
  font-size: 16px;
  font-weight: 500;
  color: #797979;
}
.made-with p {
  font-size: 12px;
  font-weight: 400;
  color: #9a9a9a;
}
.made-with h2 {
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}
.made-with h2 > a {
  color: var(--red);
  text-decoration: underline !important;
}
.the-link {
  text-transform: uppercase;
  color: var(--red);
  font-size: 24px;
  font-weight: 500;
  margin-top: 36px;
  text-decoration: underline !important;
}
.technical-support {
  font-size: 30px;
  font-weight: 600;
  color: var(--white);
  line-height: 1.1;
}
.address-box p {
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}
.contact-social-text {
  color: var(--white);
}
.text-contact {
  size: 14px;
  color: var(--white);
  font-weight: 400;
  line-height: 1;
}
.news-text-item {
  max-width: 300px;
  margin-left: 20px;
}
.answer-description {
  text-align: left;
  padding-right: 100px;
  color: var(--gray);
  padding-bottom: 10px;
}
.subtitle1 {
  line-height: 1.2 !important;
}
.review-name {
  color: var(--black) !important;
}
.big-text {
  font-size: 40px;
  font-weight: 600;
  color: var(--black);
  line-height: 1.1;
}
